body {
    background-color: darkgray
}

h1 {
    color: green;
    margin-left: 10 px;
}

h3 {
    color: white;
    margin-left: 10 px;
}

[dollarAmountGroup] {
    width: 40%;
    margin-left: 10px;
}

[tipPercentGroup] {
    width: 40%;
}
div[everything]

.btn {
    background-color: white;

}

.btn:disabled {
    background-color: green;
    color: white;
}